
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.header-container * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 600; /* Semi Bold */
    font-size: 20px;
}
.header {
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    position: fixed; /* Cambiado a fixed */
    top: 0; /* Fija el header en la parte superior */
    left: 0; /* Alinea el header al lado izquierdo */
    right: 0; /* Alinea el header al lado derecho */
    z-index: 1000; /* Asegúrate de que el header esté por encima de otros elementos */
}

/* Ajustar el margen superior del contenido para evitar que quede oculto detrás del header */
body {
    padding-top: 85px; /* Ajusta este valor si cambias la altura del header */
}

.header .logo img {
    height: 70px;
    width: auto;
}

/* Center the nav links */
.header nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.header .nav-links li {
    display: inline-block;
    margin: 0 20px;
}

.header .nav-links a {
    font-weight: 600;
    color: #000000;
    text-decoration: none;
}

.header .nav-links a.active {
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 2px;
}

/* Adjust user options to maintain layout */
.user-options {
    display: flex;
    gap: 40px;
}

.user-options a {
    font-weight: 600;
    color: #000000;
    text-decoration: none;
}

.cart-icon {
    width: 20px;
    height: auto;
}

.user-options a .fa-shopping-cart {
    font-size: 22px;
    color: #000000;
}