.product-container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
  }
  
  .image-section {
    width: 50%; /* Ahora ocupa la mitad del ancho */
    display: flex;
  }
  
  .main-image {
    width: 85%;
    height: auto;
  }
  
  .thumbnails {
    width: 15%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  
  .thumbnail {
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .product-details {
    width: 50%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
  }
  
  .product-title {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 5px;
  }
  
  .product-price {
    font-size: 24px;
    color: #888;
    margin-bottom: 20px;
  }
  
  .section-title {
    font-size: 14px;
    color: #888;
    margin-bottom: 10px;
  }
  
  .color-selection, .size-selection {
    margin-bottom: 20px;
  }
  
  .color-options {
    display: flex;
    gap: 10px;
  }
  
  .color-option {
    width: 20px;
    height: 20px;
    cursor: pointer;
    border: 1px solid transparent; /* Borde transparente por defecto */
    box-sizing: border-box; /* Asegura que el tamaño no cambie por el borde */
  }
  
  .color-option.selected {
    border: 2px solid black; /* Borde negro cuando se selecciona */
  }
  
  .size-options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  
  .size-option {
    padding: 5px 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    background-color: white;
    color: black;
    cursor: pointer;
  }
  
  .size-option.selected {
    background-color: black;
    color: white;
  }
  
  .quantity-selector {
    display: flex;
    align-items: center;
    width: 100px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }
  
  .quantity-btn {
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    font-size: 18px;
    color: #888;
    cursor: pointer;
  }
  
  .quantity-display {
    flex-grow: 1;
    text-align: center;
  }
  
  .add-button {
    width: 100%;
    background-color: white;
    color: black;
    border: 1px solid black;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  .add-button:hover {
    background-color: black;
    color: white;
}