.sidebar-list {
  width: 200px;
  padding: 10px;
  background-color: #ffffff;
}

.sidebar-list .button-filter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 20px;
}

.sidebar-list .filter-btn {
  padding: 10px 10px;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.sidebar-list .filter-btn:hover {
  background-color: #f5f5f5;
}

.sidebar-list .dropdown-filter {
  padding: 15px 0; /* Ajustar si es necesario */
  border-bottom: 1px solid #e0e0e0;
}

.sidebar-list .dropdown-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.sidebar-list .dropdown-header h3 {
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  color: #333;
}

.sidebar-list .expand-icon {
  font-size: 18px;
  color: #999;
  transition: transform 0.3s ease;
}

.sidebar-list .expand-icon.open {
  transform: rotate(180deg);
}

.sidebar-list .dropdown-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

.sidebar-list .dropdown-content.open {
  max-height: var(--content-height);
}

.sidebar-list .dropdown-options {
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0 0;
}

.sidebar-list .dropdown-options li {
  margin-bottom: 10px;
}

.sidebar-list .checkbox-container {
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 14px;
  color: #666;
  user-select: none;
}

.sidebar-list .checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.sidebar-list .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 2px solid #ccc;
  transition: all 0.3s ease;
}

.sidebar-list .checkbox-container:hover input ~ .checkmark {
  border-color: #999;
}

.sidebar-list .checkbox-container input:checked ~ .checkmark {
  background-color: #999;
  border-color: #999;
}

.sidebar-list .checkmark svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  color: #fff;
}

.sidebar-list .checkbox-container input:checked ~ .checkmark svg {
  display: block;
}

.sidebar-list .filter-btn {
  padding: 10px 10px;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 14px;
  border: 2px solid #ccc; /* Añadido borde gris */
  transition: background-color 0.3s, border-color 0.3s; /* Transiciones para el fondo y el borde */
}

.sidebar-list .filter-btn:hover {
  background-color: #f5f5f5;
}

/* Nueva clase para el estado activo del botón */
.sidebar-list .filter-btn.active {
  border-color: #000000; /* Cambia el color del borde a más oscuro */
}

.sidebar-list .search-btn {
  width: 100%; /* Para que ocupe todo el ancho del contenedor */
  padding: 10px; /* Espaciado interno del botón */
  background-color: #ffffff; /* Color de fondo del botón */
  border: 1px solid #e0e0e0; /* Borde del botón */
  font-size: 16px; /* Tamaño de fuente */
  text-align: center; /* Alinear texto al centro */
  margin-top: 20px; /* Espacio entre el dropdown y el botón */
  margin-bottom: 5px; /* Espacio entre los botones */
  cursor: pointer; /* Cambia el cursor al pasar por encima */
  transition: background-color 0.3s, border-color 0.3s; /* Efecto de transición */
}

.sidebar-list .search-btn:hover {
  background-color: #f5f5f5; /* Color de fondo en hover */
  border-color: #999; /* Color del borde en hover */
}
